appdirs==1.4.4
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
Deprecated==1.2.10
docutils==0.16
idna==2.10
invoke==1.4.1
lxml==4.6.1
PyGithub==1.53
PyJWT==1.7.1
rellu==0.7
requests==2.25.0
robotframework==3.2.2
robotframework-pythonlibcore==2.1.0
robotframework-seleniumlibrary==4.5.0
selenium==3.141.0
soupsieve==2.0.1
tqdm==4.53.0
urllib3==1.26.2
webdrivermanager==0.9.0
wrapt==1.12.1

